body {
  font-family: 'Franklin Gothic', 'Arial Narrow', Arial, sans-serif;
  color: white;
  background-image: url(man_made-new_york-city-manhattan-night-usa-317842.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(39, 40, 41);
}

body::before {
  z-index: 1;
  content: '';
  position: absolute;
  background: rgba(39, 40, 41, 0.275);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 999;
}

h1 {
  font-size: 3rem;
  padding: 5rem 1rem 0rem 1rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  z-index: 999;
}

#cidadeSelector {
  background: #f3bf21;
  color: white;
  width: 23rem;
  height: 2.5rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
}


.barra-progresso {
  width: 22rem;
  height: 2.2rem;
  background-color: white;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
}

.barra-progresso-filho {
  height: 100%;
  background-color: #f3bf21;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  transition: width 0.8s ease-in-out;
}

.valor-min {
  float: left;
}

.valor-max {
  float: right;
}

.porcentagem-numero {
  position: absolute;
  left: 10%;
  padding: 0.2rem;
  transform: translateX(-50%);
  color: rgb(39, 40, 41);
  font-size: 1.5rem;
}

form {
  padding: 0rem 1rem 5rem 1rem;
  z-index: 999;
}

#dadosCidade {
  z-index: 999;
}

span {
  margin-bottom: 25rem;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.8rem;
    padding-top: 10rem;
  }

  #cidadeSelector {
    width: 20rem;
    font-size: 1.4rem;
  }

  .barra-progresso {
    width: 20rem;
  }

  option {
    font-size: 1rem;
  }

  form {
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  span {
    margin-bottom: 10rem;
  }
}
